*{
    margin: 0;
    padding:0;
}
body{
    background-color: red;
}
#header{
    color: rgba(175, 47, 47, 0.15);
    font-size: 90px;
    font-weight: 450;
    width: 100%;
    text-align: center;
}
#add-todo{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
#add-todo-item{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.003);
    box-shadow: -1px 0 5px 0 rgba(0,0,0,0.06),
    1px 6px 5px 1px rgba(0,0,0,0.03); //内/外阴影，水平，垂直，spead水平 垂直，color
}
#add-todo-item span{
    display: inline-block;
    visibility: hidden;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
#add-todo input{
    font-family: 'Tangerine', serif;
    font-size: 30px;
    font-weight: bold;
    width: 445px;
    letter-spacing: 0.06em;
    line-height: 1.8em;
    background-color: rgba(0, 0, 0, 0.003);
    color: rgba(0,0,0,0.5);
    height: 1.8em;
    border: none;
    outline: none; //取消按钮边框
}
::-webkit-input-placeholder{
    opacity: 0.3;
}
.icon {
    width: 1.8em; height: 2em;
    vertical-align: -0.15em;
    fill: black;
    overflow: hidden;
}
.down{
    opacity: 0.1;
}
.add-item,.complete-item,.active-item{
    width: 500px;
    height: auto;
    line-height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-break: break-word;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: -1px -1px 5px 2px rgba(0,0,0,0.03),
    1px 1px 5px 2px rgba(0,0,0,0.03);
}
.todo-text{
    display: inline-block;
    width: 380px;
    text-align: left;
    font-family: 'Tangerine', serif;
    font-size: 30px;
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    letter-spacing: 0.06em;
}
#editor::before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 500px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.check{
    height: 1.6em;
    width: 1.6em;
    fill: #52cd7f;
    display: none;
}
.eglass-circle{
    width: 2em; height: 2em;
    fill: rgba(0,0,0,0.1);
}
.delete{
    fill: rgba(175, 47, 47, 0.2);
}
.use-icon1{
    line-height: 1px;
}
#editor{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 500px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
}
#editor div{
    line-height: 40px;
    text-align: center;
    font-family: serif;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
    word-spacing: 0.02em;
}
.all span,.complete span,.active span{
    padding: 3px;
    cursor: pointer;
}
.all:hover span{
    border:1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}
.active:hover span{
    border:1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}
.complete:hover span{
    border:1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}
#editor .left{
    flex-grow: 4;
}
#editor .all{
    flex-grow: 1;
}
#editor .active{
    flex-grow: 1;
}
#editor .complete{
    flex-grow: 1;
}
#editor .clear{
    flex-grow: 7;
    visibility: hidden;
}
#editor b{
    font-weight: bold;
    font-size: 1.2em;
}
.check-shift{
    display: block;
}
.text-shift{
    text-decoration: line-through;
    opacity: 0.3;
}

.delete{
    visibility: hidden;
}
.add-item:hover .delete{
    visibility: visible;
}
.complete-item:hover .delete{
    visibility: visible;
}

.active-item:hover .delete{
    visibility: visible;
}
.use-icon1,.use-icon2{
    cursor: pointer;
}
.clear:hover{
    cursor: pointer;
    text-decoration: underline;
}
.selectAll-shift{
    opacity: 0.5;
}